.idea
.vscode
.git
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
dist
.next
.out
.serverless
.webpack
.webpack-cache
 coverage
 *.js.map
 *.d.ts
 *.tsbuildinfo
 *.snap
 *.log
 *.lock
 *.local
 package-lock.json